## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Kapaa,US,22.0752,-159.3190,84.18,85,90,3.00,moderate rain
1,1,Ushuaia,AR,-54.8000,-68.3000,37.06,75,90,9.22,overcast clouds
2,2,Port Keats,AU,-14.2500,129.5500,88.11,30,53,6.13,broken clouds
3,3,Jamestown,US,42.0970,-79.2353,67.32,68,1,1.01,clear sky
4,4,Port Elizabeth,ZA,-33.9180,25.5701,41.29,87,0,0.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Kapaa,US,22.0752,-159.3190,84.18,85,90,3.00,moderate rain
11,11,Rikitea,PF,-23.1203,-134.9692,70.25,58,9,12.35,clear sky
14,14,Vila Franca Do Campo,PT,37.7167,-25.4333,70.21,93,91,6.80,overcast clouds
15,15,Kogon,UZ,39.7228,64.5517,80.24,38,0,6.91,clear sky
17,17,Acapulco,MX,16.8634,-99.8901,84.02,84,90,11.50,overcast clouds
18,18,Omboue,GA,-1.5746,9.2618,72.70,81,100,4.85,overcast clouds
21,21,Casa Grande,US,32.8795,-111.7573,78.55,83,1,5.75,clear sky
24,24,Vaini,TO,-21.2000,-175.2000,82.56,83,20,6.91,few clouds
25,25,Hithadhoo,MV,-0.6000,73.0833,80.82,74,74,2.01,broken clouds
29,29,Saint Augustine,US,29.8947,-81.3145,81.03,95,20,6.91,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                286
City                   286
Country                286
Lat                    286
Lng                    286
Max Temp               286
Humidity               286
Cloudiness             286
Wind Speed             286
Weather Description    286
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df_clean = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_clean[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,moderate rain,22.0752,-159.3190,
11,Rikitea,PF,70.25,clear sky,-23.1203,-134.9692,
14,Vila Franca Do Campo,PT,70.21,overcast clouds,37.7167,-25.4333,
15,Kogon,UZ,80.24,clear sky,39.7228,64.5517,
17,Acapulco,MX,84.02,overcast clouds,16.8634,-99.8901,
18,Omboue,GA,72.70,overcast clouds,-1.5746,9.2618,
21,Casa Grande,US,78.55,clear sky,32.8795,-111.7573,
24,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,
25,Hithadhoo,MV,80.82,broken clouds,-0.6000,73.0833,
29,Saint Augustine,US,81.03,few clouds,29.8947,-81.3145,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Rikitea,PF,70.25,clear sky,-23.1203,-134.9692,People ThankYou
14,Vila Franca Do Campo,PT,70.21,overcast clouds,37.7167,-25.4333,Pestana Bahia Praia
15,Kogon,UZ,80.24,clear sky,39.7228,64.5517,"""AFROSIYOB"" HOSTEL"
17,Acapulco,MX,84.02,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
...,...,...,...,...,...,...,...
699,Havelock,US,78.75,clear sky,34.8791,-76.9013,Sherwood Motel
703,Kangaba,ML,70.86,light rain,11.9333,-8.4167,Hôtel Mandé
704,Sarankhola,BD,82.09,moderate rain,22.3082,89.7897,Md Mostafiz Mir Al Imran's House
708,La Romana,DO,82.13,broken clouds,18.4273,-68.9728,Casa de Campo Resort and Villas
711,Ambulu,ID,83.28,clear sky,-8.3450,113.6058,Hotel Ambulu Jember

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure